.input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:#F2F2F2;
    padding: 5px;
}

.input::placeholder {
    color: #C4C4C4;
    opacity: 1;
}